# Autodoc by Ansible

This document is generated using the *****/docker-unifi-api-client by Ansible

## {{ api_call | title }}

{{'{% for config in response_data %}'}}
{% for response_key in response_keys | unique %}
{% if response_key.split('-')[1] is undefined %}
{{ '{% if config.' + response_key + ' is defined %}'}}
* {{ response_key }}: `{{ '{{ config.' + response_key + ' }}' }}`
{{ '{% endif %}' }}
{% endif %}
{% endfor %}
{{ '{% endfor %}' }}
