# Autodoc by Ansible

This document is generated using the *****/docker-unifi-api-client by Ansible

## Networks
{{'{% for name in network_names %}'}}

{{'### - {{ name }}'}}
{{'{% for site_id in site_ids %}'}}

{{'Site ID: `{{ site_id }}`'}}
{{'{% for config in network_confs %}'}}

{{'#### {{ config.name | title }}'}}
{{'{% if config.site_id == site_id %}'}}

{% for item in network_value_keys %}
{{ '{% if config.' + item + ' is defined %}'}}
* {{ item }}: `{{ '{{ config.' + item + ' }}' }}`
{{ '{% endif %}' }}
{% endfor %}
{{ '{% endif %}' }}
{{ '{% endfor %}' }}
{{ '{% endfor %}' }}
{{ '{% endfor %}' }}
